@{
    ViewData["Title"] = "Hello World";
    Layout = "_Layout";
}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">CI / CD</h1>
        <p class="col-md-8 fs-4">
            Esta aplicação usa GitHub como repositório base.
            Toda vez que um merge na master é executado, a aplicação AWS no GitHub executa uma chamada para o AWS CodeBuild.
            O CodeBuild, por sua vez, compila, e salva o container no ECR. Se obtiver sucesso, o CodeBuild inicializa o Terraform para aplicar a atualização na infraestrutura.
        </p>
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Números da Versão</h2>
            <p>Durante o processo de Build, o sistema usa informações de data e hora para estampar o Build.</p>
        </div>
    </div>
</div>